.dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 25px;
    border: none;
    cursor: pointer;
    font-style: italic;
    font-family: sans-serif;
  }
  
 
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
 
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  
  .dropdown-content a:hover {background-color: #862828}
  
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
 
  .dropdown:hover .dropbtn {
   
    color: yellow;
  }
.image{
    background-image: url('book.jpg');
    background-repeat: no-repeat;
    width:100%;
    height:90%;
      
    
}
.name
{
    font-size:30px;
    padding:5px;
}
.header
{
    text-align: center;
    padding-top: 0px;
    float:right;
    margin-top: -40px;
    margin-right: 5px;

}
li
{
    display:inline;
    text-align: center;
    list-style: none;
    padding-left:20px;
    font-size: 30px;
    font-style: italic;
    /* font-family: sans-serif; */
}
#border
{
        width: 100px;
        height: 100px;
        background:blue;
        border-radius:100px;
        margin-top: -30px;
        padding: 50px;
        color:white;
        text-align: center;
        font-size: 30px;
        box-shadow: 5px 10px black;
        
}
.web
{
    margin-top:15%;
    font-size: 30px;
    background-color: transparent;
}
p{
    color:black;
    text-align: center;
    line-height: 100px;
    background-color: transparent;
}
.boot
{
    width:20%;
    height:20%;
    background-color:rgb(122, 46, 63);
    color:white;
    font-size: 50px;
    padding-left:5px;
    border-radius: 40px 0px 40px 0px;
    text-align: center;
    margin: 600px;
    margin-top: -32%;
    margin-left: 700px;
   
}
.html
{
    width:20%;
    height:20%;
    background-color: rgb(45, 166, 182);
    color:white;
    font-size: 50px;
    padding-left:5px;
    border-radius: 40px 0px 40px 0px;
    text-align: center;
    margin-top: -20px;
    margin-left: 20px;
    
}
a:hover
{
    color:yellow;
    
}
.css
{
    width:20%;
    height:20%;
    background-color: rgb(122, 117, 37);
    color:white;
    font-size: 50px;
    padding-left:5px;
    border-radius: 40px 0px 40px 0px;
    text-align: center;
    margin: 301px;
    margin-top: -130px;
    margin-left: 350px;
    
}
.js
{
    width:20%;
    height:20%;
    background-color: rgb(39, 49, 110);
    color:white;
    font-size: 50px;
    padding-left:5px;
    border-radius: 40px 0px 40px 0px;
    text-align: center;
    margin: 900px;
    margin-top: -730px;
    margin-left: 1050px;
}


 h1{
    width:100%;
    height:15%;
    color:black;
    text-align: center;
}

a
{
    
    color: white;
    text-decoration: none;
    padding-right: 5px;
}
#contact
{
    background:linear-gradient(to bottom,rgb(180, 67, 67),rgb(110, 110, 223),rgb(141, 65, 112));
    margin-top: -880px;
    height:90%;
    padding-top:20px;
}
.footer
{
    background-color:black;
    color:white;
    width:100%;
    height:10%;
    margin-top:5px;
    text-align: center;
    padding-top:15px;
    font-size: 20px;
}