body{
    font-size:20px;
    font-style: bold;
}
ul{
    list-style-type:none;
}
h3{
    font-style: italic;
    font-size: 30px;
}
a
{
    color: white;
    text-decoration: none;
    padding-right: 5px;
}
.header
{
    text-align: center;
    padding-top: 10px;
}
.list
{
    display:inline;
    text-align: center;
    list-style: none;
    padding-left:20px;
    font-size: 30px;
    font-style: italic;
}
.footer
{
    background-color:black;
    color:white;
    width:100%;
    height:10%;
    margin-top:5px;
    text-align: center;
    padding-top:15px;
    font-size: 20px;
}
h1{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  color:rgb(50, 52, 161);
  text-decoration: underline;
}